h1.logo {
  color: #333;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  position: relative;

  &.small {
    font-size: 16px;
  }

  &.regular {
    font-size: 30px;
  }

  &.big {
    font-size: 45px;
  }

  &.small, &.regular {
    font-weight: 100;
  }
  .co {
    display: inline-block;
    border: 4px solid #333;
    border-radius: 10px;
    background: #333;
    color: white;
    padding: 0px 3px;
    i {
      font-size: 70%;
    }
    margin-right: 2px;
  }
}
