<div class="container Home">
  <div class="jumbotron">
    <h1 class="display-3 logo jumbo"><span class="co">c<i class="fa fa-globe"></i></span>llective</h1>
    <p class="lead lead-main">

    When bits and pieces of our world are falling apart, we all need to lend a hand a keep it from crumbling. <br>
    We need to work together, we need to understand each other, we need to bridge gaps, we need to fight the divid, we need empathy. <br>
    We all struggle, some harder than others. We all have our reasons for voting the way we did, acting the way we do, believing what we believe. <br>
    </p>
    <p class="lead">
    <b class="story">We all have a story</b>. <br>
    </p>
    <p class="lead">
    And it's our story. Some of us keep it close to our chest, some of us shout it from the rooftops, but more often than not we shut each other's story out if it doesn't align with ours. We don't listen. <i>I don't listen.</i> But I want to.
    </p>

    <p class="lead lead-second">
    We're all in this together. We're all in the same boat and it's sinking. Let's get to know each other. Let's start acting like a <b>collective</b>.
    </p>
    

    <hr class="my-2">
    <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Share your story</a>
    </p>
  </div>
</div>
